@charset "UTF-8";
body{
    width: 100%;
    background-color: #d8e8b5;
    font-family: 'Zen Maru Gothic', sans-serif;
}
#header-plan{
    display: flex;
    justify-content: space-between;
    background: url(../img/kawa.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
#header-plan h1{
    margin-top: 25px;
}
#header-plan ul{
    display: flex;
}
#header-plan li{
    margin-top: 30px;
    padding-right: 30px;
    list-style-type: none;
}
#header-plan a{
    text-decoration: none;
    color: #202021;
}
/*main
----------*/
.containar{
    width: 1000px;
    margin: 0 auto;
}
.description{
    margin-bottom: 50px;
}
.description h1{
    font-size: 35px;
    margin-bottom: 10px;
}
.description p{
    font-size: 18px;
    line-height: 1.8;
}
/*list
------------*/
.date{
    display: flex;
    margin-bottom: 50px;
}

dl{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}
.list_description{
    width: 1000px;
    font-size: 18px;
}
dt{
    clear: left ;
	margin-right: 0.5em ;
    width: 150px;
}
/*form
----------*/
.fee h2{
    font-size: 35px;
    margin-bottom: 10px;
}
.fee p{
    margin-bottom: 20px;
}
form {
    width: 250px;
    border: solid 1px black;
}

label {
   display: block;
  }
/*footer
--------------*/
#footer{
    margin-top: 50px;
    text-align: center;
}
@media screen and (max-width:834px){
    .containar{
        width:85%;
    }
    .description h1{
        font-size: 20px;
    }
    .description p{
        font-size: 15px;
    }
    .date{
        display: block;
    }
    dl{
        margin-bottom: 20px;
    }
    .list_description{
        width: 100%;
    }
    .list_description p{
        font-size: 13px;
    }
    .fee h2{
        font-size: 20px;
    }
}