@charset "UTF-8";
body{
    width: 100%;
    background-color: #d8e8b5;
    font-family: 'Zen Maru Gothic', sans-serif;
}
/*header
-----------*/
#header{
    display: flex;
    justify-content: space-between;
    background: url(../img/kawa.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
#header h1{
    margin-top: 25px;
    margin-left: 40px;
}

#header ul{
    display: flex;
}
#header li{
    margin-top: 30px;
    padding-right: 30px;
    list-style-type: none;
}
#header img{
    background: rgba(255,255,255,0.5);
    padding: 8px;
    border-radius: 5px;
}
#header .nav-link{
    background: rgba(255,255,255,0.5);
    text-decoration: none;
    border-radius: 8px;
    padding: 5px;
    color: #202021;
}
/*main
------------*/
.sec-decoration{
    display: flex;
    width: 1050px;
    margin: 50px auto 30px auto;
}
.sec-decoration img{
    height: 350px;
}
.sec-decoration p{
    text-align: center;
   margin: 70px 50px;
   font-size: 30px;
   color: #363637;
}
.description p{
    font-size: 20px;
}
.description{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.description h1{
    margin-bottom: 30px;
    font-size: 25px;
}
.description h1 {
    position: relative;
    display: inline-block;
    padding: 0 70px;
  }
 .description h1:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 60px;
    height: 5px;
    background-color: #fff;
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
  .description h1:before{
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 60px;
    height: 5px;
    background-color: #fff;
    -webkit-transform: rotate(-60deg);
    transform: rotate(60deg);
  }
  .description h1:before {
    left:0;
  }
 .description h1:after {
    right: 0;
  }
  /*説明
  -------------*/
.menu{
    width: 1050px;
    margin: 50px auto 30px auto;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
}
.outside{
    position: relative;
    margin: 70px;
}
  .inside{
    display: flex;
    flex-wrap: wrap;
}
.insi-plan{
    position: absolute;
    top: 80px;
    left: 65px;
}
.insi-charm{
    position: absolute;
    top: 80px;
    left: 20px;
}
.insi-contact{
    position: absolute;
    top: 80px;
    left: 20px;
}
  .outside img{
    width: 210px;
    height: 210px;
    object-fit: cover;
}
#footer{
    text-align: center;
}
@media screen and (max-width:834px){
    .sec-decoration{
        display: block;
        width: 450px;
        margin: 30px auto;
    }
    .sec-decoration img{
        width: 450px;
        height: 300px;
        object-fit: cover;
    }
    .sec-decoration p{
        margin: 50px 60px;
        font-size: 20px;
    }
    .description h1{
        font-size: 20px;
    }
    .description p{
        font-size: 15px;
    }
    .menu{
        width: 500px;
        margin: 30px auto;
        display: block;
        flex-wrap: nowrap;
    }
    .outside{
        margin: 30px 0px;
        text-align: center;
    }
    .insi-plan{
        top: 120px;
        left: 200px;
    }
    .insi-charm{
        top: 120px;
        left: 150px;
    }
    .insi-contact{
        top: 120px;
        left: 150px;
    }
    .outside img{
        width: 300px;
        height: 300px;

    }
}